body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form-doctor {
  width: 60%;
  /* top: 0px; */
  /* height: 800px; */
  background-color: #24262b;
  position: fixed;
  z-index: 1;
  left: 350px;
  border: 1px solid greenyellow;
  border-radius: 10px;
}

#close-modal {
  font-size: 30px;
  width: 70%;
  height: 40px;
  background-color: #bbbbbb;
  color: red;
  cursor: pointer;
  transition: 0.4s ease-in-out all;
}

#close-modal:hover {
  background-color: #bb0707;
  color: white;
}

.container-register-doctor {
  display: none;
}

.container-register-doctor h1{
  margin: 0px;
}

.register-body {
  background-color: rgb(29, 31, 31);
}

.title-register {
  text-decoration: underline greenyellow;
}

label {
  font-size: 16px;
  font-weight: 300;
  color: #bbbbbb;
}

h1 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.form-doctor-register {
  width: 70%;
  height: 50%;
}

.form-doctor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.table,
th,
td {

  border: 1px solid greenyellow;
  border-collapse: collapse;
  width: 350px;
  height: 50px;
  color: black;
  font-size: 28px;
}

.table td {
  text-align: center;
}
.table {
  width: 100%;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}
.table-request {
  /* overflow-y: scroll; */
  background-color: #525652;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.text-prev-table{
  font-weight: 100;
  color: rgb(249, 248, 246);
  text-align: center;
  font-size: 30px;
  margin: 0;
  background-color: #525652;
}
input[type='text'] {
  margin: 0;
}

.approve-btn{
  width: 100%;
  height: 50%;
  background-color:green;
  font-size: 20px;
}

.cancel-btn{
  width: 100%;
  height: 50%;
  background-color:red;
  font-size: 20px;
  color: #ffffff;
}